# Lesson 2:  Exploring Data

**Goals & Key Ideas:**
1. Pandas Data Frames
    + Getting datasets: (1) CSV files in your JupyterHub; (2) CSV files from the internet
    + Attributes and Methods of data frames
    + Accessing columns of a data frame
    + Accessing entries of a data frame
2. Working with data frames
    + Sorting rows based on values in a column
    + Filtering rows based on values in a column
    + Adding new columns
    + Grouping and aggregating

## 1. Pandas Data Frames

You can think of **data frames** simply as the term that pandas uses to refer to **data tables**.

(similar to how excel spreadsheets organize data, in rows and columns)

More precisely, though, data frames are a particular type of **objects** in python/pandas. We have seen other objects as well earlier in this homework: lists are objects, numpy arrays are objects, integers are objects, etc.

### 1.1 Datasets: Observations and Variables

Given a set of data
- An **observation** refers to an **individual** or an **entity** from which data is collected
- A **variable** is any **characteristic** about each individual that is recorded in the dataset

For example:

The following data set comes from UC Berkeley graduate school admissions data in 1973. 
            <img src="berkeley.png" width="600">

In a well-organized data frame,
- Each **row** of a data frame corresponds to one **observation**
- Each **column** of a data frame corresponds to a **variable**

#### Exercise

<table>
    <tr>
        <td>The following data set comes from UC Berkeley graduate school admissions data in 1973. 
            What are the observations? 
            What are the variables?  
            What types of variables are there?
            <img src="berkeley.png" width="600"></td>
        <td><header><h1>Quick Poll: </h1></header>
            How many observations are there in this dataset?  How many variables?
            <ol type="A">
<li> 6 variables, 5 observations</li>
<li> 5 variables, 6 observations</li>
<li> 5 variables, 5 observations</li>
<li> 6 variables, 6 observations</li>
<li> None of the above is correct</li>
<li> There isn’t enough information provided </li>
     </ol>       
Submit a response on PollEv: <a href='https://pollev.com/fshum'>https://pollev.com/fshum</a>
</td>
    </tr>
</table>

### 1.2 Obtaining data frames

There are two main ways we can get data frames in python.
1. Importing a file from a directory in you computer or from the internet

    `pd.read_csv(‘FILENAME’)`
   
    `pd.read_csv(‘LINK’)`

2. Entering data manually into a data frame

    Occasionally, we might want to type in our data manually into a data frame (for example, maybe you are collecting the data yourself.

    `pd.DataFrame( { ‘COLNAME1’ : LIST1, ‘COLNAME2’: LIST2, … } )`

### Data Frames: Importing a file from your computer or the internet

A common format to store data is a “**comma separated values**” file (**.csv**)

We use the function

`pd.read_csv( 'FILENAME' )`

when we want pandas to "read" a csv file and store it as a data frame:
- input: the name of the csv file
- output: a pandas data frame

**Working with files in a different folder:**

You might notice that we have a copy of **top50.csv** in the lesson02 folder and in the homework01 folder.

From now on, datasets that we will work with will be stored in the following folder:

`/shared/datasets/FILENAME`

So, we will have just that one copy of the csv file that we can refer to from anywhere else in our JupyterHub.

There is a file called **berkeley73.csv** in the folder `/shared/datasets/`

We want to access this file from the Lesson 2 jupyter notebook, which is in the folder `/class_materials/class_notebooks/lesson02/`

**Working with files from the internet**

A good resource for data is: 
UCI ML Repository(https://archive.ics.uci.edu/)

### Data Frames: Manual Entry

Occasionally, we might want to type in our data manually into a data frame (for example, maybe you are collecting the data yourself)

`pd.DataFrame( { ‘COLNAME1’ : LIST1, ‘COLNAME2’: LIST2, ... } )`

For example:

berkeley = pd.DataFrame(‘Department’:[‘A’, ‘B’, C’, ‘D’, ‘E’, ‘F’],
					‘Men_Applicants’: [825, 560, 325, 417, 191, 373] 
					......
					‘Women_ Admitted’:[89,17,202,131,94,24])

### 1.3 Data Frames: Attributess

Python objects, including data frames, have **attributes** associated with them. 

**Attributes** of a data frame are essentially **variables** containing properties or information associated to a data frame.

Below are three of the most important attributes of data frames:
- `.shape`: the numbers of rows and columns of the data frame (in this order)
- `.columns`: the list of the column names of the data frame
- `.dtypes`: the list of the data types of the columns of the data frame

There are other data frames attributes which we will encounter later.

### Data Frames: Methods

Python objects, including data frames, also have **methods** associated with them.  

**Methods** of a data frame are essentially **functions** that are associated to a data frame.

Below are three of the most important methods of data frames:
- `.head()`: a function that returns the first few rows of the data frame
- `.tail()`: a function that returns the last few rows of the data frame
- `.sample()`: a function that returns a random selection/sample of rows of the data frame

There are other data frames methods which we will encounter later.

### 1.4 Data Frames: Accessing columns

Given a data frame, we might need to extract values from a particular column.  There are several ways to do this; here are two of them

`DATAFRAMENAME[‘COLUMNNAME’]`

Gives you a list containing all entries in the column **COLUMNNAME** of the data frame **DATAFRAMENAME**

`DATAFRAMENAME.iloc[ : , COLINDEX ]`

Gives you a list containing all entries in column number **COLINDEX** of the data frame **DATAFRAMENAME**

You can also extract two or more columns at a time

`DATAFRAMENAME[[‘COLUMNNAME1’, ‘COLUMNNAME2’]]`

Gives you a list containing all entries in the columns **COLUMNNAME1** and **COLUMNNAME2** of the data frame **DATAFRAMENAME**

`DATAFRAMENAME.iloc[ : , [COLINDEX1, COLINDEX2] ]`

Gives you a list containing all entries in columns index **COLINDEX1** and **COLINDEX2** of the data frame **DATAFRAMENAME**

### Data Frames: Accessing rows

Given a data frame, we might need to extract values from a particular row.  There are several ways to do this; here are two of them

`DATAFRAMENAME[[ROWINDEX1:ROWINDEXn]]`

Gives you a list containing all entries in the rows **ROWINDEX1** to **ROWINDEXn** of the data frame **DATAFRAMENAME**

`DATAFRAMENAME.iloc[[‘ROWNAME1’, …, ‘ROWNAMEn’], :]`

Gives you a list containing all entries in rows called **ROWNAME1** to **ROWNAMEn** of the data frame **DATAFRAMENAME**

`DATAFRAMENAME.iloc[[INDEX1, ..,INDEXn], :]`

Gives you a list containing all entries in rows at **INDEX1** to **INDEXn** of the data frame **DATAFRAMENAME**

### 1.5 Data Frames: Accessing entries

There are also two ways to access an entry in a data frame

`DATAFRAMENAME[ ‘COLUMNNAME’ ][ROWINDEX]`

To access an entry in row index **ROWINDEX** and column called **COLUMNNAME**

`DATAFRAMENAME.iloc[ ROWINDEX, COLINDEX ]`

To access an entry in row index **ROWINDEX** and column index **COLINDEX**

### Naming Columns & Rows

Sometimes the data we have read in do not have column and row names. Or you may want to reassign names to existing labels.

**Renaming columns:**

`df.columns = [‘NEWNAME1’, …, ‘NEWNAMEn’]`

`.rename()` takes in 2 dictionaries where key and value are the old label and the new label:

`row_idx_rename = {OLDNAME_ROW1 : NEWNAME_ROW1, …, OLDNAME_ROWn : NEWNAME_ROWn}`

`col_rename = {OLDNAME_COL1 : NEWNAME_COL1, …, OLDNAME_COLn : NEWNAME_COLn}`

`df_rename = df.rename(index = row_idx_rename, columns = col_rename)`

### 1.6 Finding sums and averages of a column

Recall that the function 

`sum( LISTNAME )`

takes the sum of the numbers in the list **LISTNAME**.

Since a column in a data frame is a list-like object, we can use `sum()` for a column of a data frame.

We can also apply other list functions to columns:
- `len()`
- `max()`
- `min()`

Recall that the numpy function 

`np.mean( LISTNAME )`

takes the average of the numbers in the list **LISTNAME**.

Since a column in a data frame is a list-like object, we can use `np.mean()` for a column of a data frame.

**Example:**

Recall the data frame **berkeley** from before. Suppose that we would like to compute the admission rates of men and women in each of the departments.

To compute the admission rate of women in each department, we want to divide each number in the **Women_Admitted** column by the corresponding number in the **Women_Applicants** column.

## 2. Working with data frames

### 2.1. Sorting rows based on values in a column

`DATAFRAMENAME.sort_values( ‘COLUMNNAME’ )`

- Returns the data frame **DATAFRAMENAME** where the rows are sorted based on values in column **COLUMNNAME**, in ascending order (default)

`DATAFRAMENAME.sort_values( COLUMNNAME, ascending = False )`

- Returns the data frame **DATAFRAMENAME** where the rows are sorted based on values in column **COLUMNNAME**, in descending order

`DATAFRAMENAME.sort_values([COL1, COL2], ascending = [True, False])`

- Returns the data frame **DATAFRAMENAME** where the rows are sorted based on values in column **COL1** in ascending order, then based on **COL2** in descending order

**Example:**

Recall the data frame **berkeley** from before. Sort the departments from most women applicants to fewest women applicants

### 2.2. Filtering rows based on values in a column

`DATAFRAMENAME.query( CRITERIA )`

- Returns a data frame containing only rows of **DATAFRAMENAME** that meets the given criteria
- **CRITERIA** could be of the form of an equality or inequality based on values in a particular column

A second way to filter:

`DATAFRAMENAME[ DATAFRAMENAME[‘COLUMNNAME’] == VALUE ]`

(Or `DATAFRAMENAME[ DATAFRAMENAME[‘COLUMNNAME’] > VALUE ]`, etc.)
- Returns a data frame containing only rows of **DATAFRAMENAME** that meets the given criteria

**Example:**

Recall the data frame **berkeley** from before. 
Keep only rows where the number of women admitted are greater than or equal to 50

### 2.3. Adding new columns

There are several different ways to add a new column to a data frame

`DATAFRAMENAME[‘NEWCOLNAME’] = LIST`
- Adds a new column called **NEWCOLNAME** to the data frame **DATAFRAMENAME** (as the last column)
- The contents of the new column is **LIST**
  
`DATAFRAMENAME.insert( COLINDEX, NEWCOLNAME, LIST )`
- Adds a new column called **NEWCOLNAME** to the data frame **DATAFRAMENAME** at index **COLINDEX**
- The contents of the new column is **LIST**

**Quick Poll:**

Create a new column called Total_Admitted in the berkeley data frame, which consists of the total number of men and women admitted to each department.

Which of the options below works?
- A. `Total_Admitted = Men_Admitted + Women_Admitted`
- B. `berkeley[‘Men_Admitted’] + berkeley[‘Women_Admitted’]`
- C. `berkeley[‘Total_Admitted’] = berkeley[:,3] + berkeley[:,5]`
- D. None of the above
   
Submit a response on PollEv: https://pollev.com/fshum

#### Exercises:

1. Create a new column called **Men_AdmissionRate**, which consists of the admission rate of men into each department
2. Create a new column called **Total_Admitted**, which consists of the total number of men and women admitted to each department.
3. Create a new column called **Total_Applicants**, which consists of the total number of men and women admitted to each department.
4. Create a new column called **Overall_Admission_Rate**, which consists of the overall admission rate (men and women) admitted to each department.

#### Editing Entries

Suppose we have made a mistake; instead of department ‘F’, it is supposed to be named ‘G’.

If we do not have the index of where ‘F’ is, we can find it:

`idx = df.index[df[‘Department’] == ‘F’].to_flat_index()`

Now we can replace ‘F’ with ‘G’ after finding the index with the above code:

`df[‘Department’][idx] = ‘G’`

#### Dropping Column & Row
If we want to drop the column ‘Department’ from our DataFrame:

`df.drop([‘Department’], axis=1)`

If we want to drop the first two rows with index ‘0’ and ‘1’ from our DataFrame:

`df.drop([0,1])`

### 2.4. Grouping and aggregating

**Motivation:**

Consider the **top50** data frame from Homework 1, which contains data from the top 50 songs on Spotify in 2019. 
Suppose we want to analyze the songs by Genre:
- How many different songs are there for each genre, among the top 50?
- What are the average loudness of songs in each genre?
- How danceable are each genre, on average?
- etc.

We answer each question in two steps:
1. First, **group the rows by genre**
2. Within each genre, **compute the aggregate information**, such as
    - Count the number of songs in this genre
    - Compute the average loudness of the songs in this genre
    - Compute the average danceability of the songs in this genre
    - etc.

`DATAFRAMENAME.groupby( ‘COLNAME’ )`
- Grouping rows of a data frame based on values in column **COLNAME**
  
`GROUPEDDATAFRAME.agg( {‘COLNAME1’: ‘*aggregatefunction1’, ‘COLNAME2’: ‘aggregatefunction2’ })`
- Computing an aggregate information of values in **COLNAME1, COLNAME2,** etc.
- The aggregate function to use could be (among others):
    - count
    - mean
    - max
    - min

## Saving Your New Data

After creating your own dataframe, sometimes it is ideal to save your data as a .csv file for future use.

`DATAFRAMENAME.to_csv( ‘FILENAME.csv’ )`

## More Resources

- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html
- https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html#pandas.read_csv
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html#pandas.DataFrame.to_csv